<section class="profile">
  <h3>Name: <%= current_user.username %></h3>
  <p>My created events:</p>
  <% if current_user.events.size.zero? %>
    <p>Nothing fun to see here. Try creating an event?</p>
  <% else%>
    <% current_user.events.each do |event| %>
      <p>Title: <%= event.title %></p>
      <p>Date: <%= event.event_date %></p>
      <p>Location: <%= event.location %></p>
      <p>Details: <%= event.details %></p>
      <br>
    <% end %>
  <% end %>
</section>