<section class="home">
  <header class="home__header">
    <h1>Find all fun events you can participate on, right here!</h1>
    <%= link_to "Create event", new_event_path, class: "primary-btn" %>
  </header>
  <h3>Available events:</h3>
  <% if @events.size.zero? %>
    <p>No events found. Try again later.</p>
  <% else %>
    <% @events.each do |event| %>
      <%= link_to event_path(event), class: "event-link" do %>
        <div class="event-card">
          <h4>Creator: <%= event.creator.username %></h4>
          <p>Title: <%= event.title %></p>
          <p>Date: <%= event.event_date.to_formatted_s(:long) %></p>
          <p>Location: <%= event.location %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>
</section>