<section class="event-details">
  <div class="event-card">
    <div class="event-card__side">
      <h4>Creator: <%= @event.creator.username %></h4>
      <p>Title: <%= @event.title %></p>
      <p>Date: <%= @event.event_date.to_formatted_s(:long) %></p>
      <p>Location: <%= @event.location %></p>
      <p>Details: <%= @event.details %></p>

      <br>

      <h4>Total attendees: <%= @event.attendees.size %></h4>
      <p>List of attendees:</p>
      <% if @event.attendees.size.zero? %>
        <p>None found.</p>
      <% else %>
        <% @event.attendees.each do |attendee| %>
          <ul>
            <li><%= attendee.username %></li>
          </ul>
        <% end %>
      <% end %>

      <br>
      <% if event_joined?(current_user, @event) %>
        <%= button_tag "Joined", class: "neutral-btn" %>
      <% elsif event_creator?(current_user, @event) %>
        <p><em>You own this event.</em></p>
      <% elsif @event.event_date.past? %>
        <% if event_joined?(current_user, @event) %>
          <p>You joined this event.</p>
        <% end %>
        <p>This event has ended.</p>
      <% else %>
        <%= button_to "Join", attendances_path(event_id: @event.id), class: "primary-btn" %>
      <% end %>
    </div>

    <div class="event-card__side">
      <% if event_creator?(current_user, @event) %>
        <%= link_to "Edit", edit_event_path %>
        <%= link_to "Delete", event_path, data: { turbo_confirm: "Are you sure?", turbo_method: :delete } %>
      <% end %>
    </div>
  </div>
</section>